.home-nav {
	opacity: 0.9;
}

/* Hero Section */
.hero {
	min-height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
		url('https://res.cloudinary.com/dwubqdebj/image/upload/c_fill,w_1080/v1649329364/ani-watch/1600x900_grqhii.jpg');
}

.hero-heading {
	color: var(--gray);
	font-size: 10rem;
	text-transform: uppercase;
}

.hero-description {
	max-width: 50ch;
	color: var(--gray);
	font-size: var(--fs-h4);
	margin-top: 3rem;
}

.hero-btn {
	margin-top: 3rem;
	font-size: var(--fs-h3);
	font-weight: var(--fw-bold);
}

/* Category and Services */
.home-section-heading {
	margin: 4rem 0;
}

.home-card {
	min-width: 40rem;
	transition: transform 250ms ease-in;
}

.home-card:hover {
	transform: scale(1.05);
}

.home-card .image-container {
	justify-content: stretch;
	width: 100%;
	margin: 0;
	padding: 0;
}

.home-card .image-container img {
	width: 100%;
}

/* .home-card .image-container img:hover {
	transform: scale(1.05);
} */

.card a {
	color: inherit;
}

.home-card .card-title {
	height: 1.5em;
}

.home-card .card-description {
	height: 5em;
}

/* Footer */
.home-footer {
	background-color: var(--dark-gray);
	padding: 2rem;
	margin-top: 2rem;
	color: var(--white);
}

.home-footer .nav-link-container {
	justify-content: space-between;
	margin-top: 1rem;
	min-width: 10rem;
}

.home-footer .nav-link a {
	color: inherit;
	font-size: var(--fs-h4);
}
