.card {
	background-color: var(--white);
}

.icon-btn .icon {
	color: var(--gray);
	padding-left: 0;
}

.icon.wishlist {
	color: var(--primary-red);
}

small.card-chip {
	display: inline-flex;
	white-space: nowrap;
	border-radius: 2rem;
	background-color: var(--light-purple);
	margin: 0.5rem 0;
	padding: 0.5rem 1rem;
	user-select: none;
	color: var(--black);
}

.card-loader-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
}
