.card-title {
	height: 2.5em;
	overflow: hidden;
}

.quantity-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	padding: 1rem;
}

.quantity-container .circular {
	margin-top: 0;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	line-height: 0rem;
}
