.cart-summary {
	position: fixed;
	top: 10rem;
	right: 0;
	background-color: var(--white);
	margin-right: 5rem;
	margin-top: 5rem;
	max-height: 25rem;
	min-width: 40rem;
}

.cart-summary header {
	background-color: var(--black);
	color: var(--white);
	padding: 1rem;
}

.cart-summary-row {
	display: flex;
	justify-content: space-between;
	font-size: var(--fs-h5);
	padding: 1rem;
}

.summary-checkout {
	width: 75%;
	margin: auto;
}
