.card {
	background-color: var(--white);
}

.icon-btn .icon {
	color: var(--gray);
	padding-left: 0;
}

.icon.wishlist {
	color: var(--primary-red);
}

.card-loader-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}