.ecom-nav {
	min-height: 7rem;
	background-color: var(--white);
	z-index: 10;
}

.ecom-nav a {
	display: flex;
	margin: 1rem;
}

.ecom-nav div {
	margin: 1rem;
}

.nav .nav-link {
	position: relative;
	margin-right: 0;
}

.nav-link > .dropdown {
	display: none;
	z-index: 1;
	position: absolute;
	top: 3.2rem;
	left: -3.2rem;
	background-color: var(--white);
	border-radius: 10px;
	padding: 2rem;
	width: max-content;
}

.nav-link:hover .dropdown {
	display: block;
}

.search-wrapper {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: stretch;
}

.search-container {
	width: 50%;
}

.searchbar {
	font-size: var(--fs-h6);
	padding: 5px 10px;
	width: 100%;
	flex-shrink: 1;
}

.search-button {
	padding: 0.5rem 1rem;
	margin: 0;
	background-color: var(--white);
	border: 1px solid var(--black);
}

.search-button:hover {
	opacity: 0.8;
}

.search-button:active {
	transform: translateY(1px);
}

.nav .badge {
	top: -12px;
	right: 0;
}
